:root{
    --main-font-color:rgb(197, 118, 0);
}
*{
    margin:0;
    padding:0;
    background-color:rgb(255, 255, 255);
}
.mainContainer{
    width:30%;
    height:90vh;
    background-color:rgb(51, 51, 51);
    margin:20px auto;
    box-shadow:1px 1px 30px black;
    border-radius:50px;
    .imageWrapper{
        display: flex;
        justify-content:center;
        background-color: rgb(51, 51, 51);
        width: 50%;
        margin:0 auto;
        img{
            width: 75%;
            height: 30%;
            background-color: rgb(102, 0, 0);
            border-radius:50%;
            box-shadow:1px -1px 7px #ffffff;
            margin-top:-15px;
        }  
    }
    .totalCounter{
        background-color:rgb(51, 51, 51);
        width: 10%;
        height: 1%;
        font-size:50px;
        text-align: center;
        margin: 50px auto;
        color:#ffffff;
    }
    .startButton{
        width: 42%;
        height:28%;
        border-radius:50%;
        background-color:seagreen;
        text-transform: uppercase;
        font-weight:900;
        font-size:40px;
        margin:20% auto;
        display:block;
        border:8px black;
        outline:0;
        box-shadow:1px -1px 7px #ffffff;
        color:#ffffff;
    }
}
.lineProgram{
    background:none;
    width:50%;
    margin: 0 auto;
    font-size:70px;
    color:var(--main-font-color);
    font-family:sans-serif;
    text-align:center;
    padding-top:100px;
}
.circleWork{
    width: 52%;
    height:35%;
    background-color:var(--main-font-color);
    margin:15% auto;
    border-radius:50%;
    font-size:360px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items: center;
    font-family: sans-serif;
    color:white;
}